.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__img-container {
  width: 100%;
  height: 340px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.fighter-preview__info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.fighter-preview__attribute {
  display: inline-flex;
  text-transform: capitalize;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.fighter-preview__attribute-label {
  min-width: 100px;
}
